body {
  margin-left: 90px!important;
  margin-top: -150px!important;
}
/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  /*top: 40px;*/
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .btn-glyphicon {
  padding:8px;
  background:#ffffff;
  margin-right:4px;
}
.timeline .timeline-item .icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius:50px;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 17px;
  height: 17px;
  font-size: 10px;
  text-align: left;
  padding-left: 4px;
  position: absolute;
  top: 172px !important;
  left: 50%;
  margin-left: -10px;
  background-color: #7c7c7c;
  box-shadow: inset 0 -3.2px rgba(0, 0, 0, 0.12),inset 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius:50px;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #E06B2F; /*TransAlta Orange*/
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #00A4E4; /*TransAlta Blue*/
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #6CB33F; /*TransAlta Green*/
}
.timeline .timeline-item .timeline-badge.success.donut{
  background-color: #fff;
  border-color: #6CB33F; /*#5f9e37;*/
  border-width: 4px;
  border-style: solid;
  box-shadow: inset 0 0px rgba(0, 0, 0, 0),inset 0px 0 rgba(0, 0, 0, 0);
}
.timeline .timeline-item .timeline-badge.success.loading{
  background-image: linear-gradient(45deg, #fff 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #fff 50%, #fff 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 10px 10px;
  animation: 5s linear 0s normal none infinite progress-bar-stripes;
  -webkit-animation: progress-bar-stripes 5s linear infinite;
}
.timeline .timeline-item .timeline-badge.default {
  background-color: #DBDBDB; /*Light Gray*/
}
.timeline .timeline-item .timeline-badge.main-phase {
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  padding-left: 15px;
  top: 168px !important;
  left: -50px !important;
  border-radius:50px;
}
.timeline .timeline-item .timeline-badge.main-phase.init {
  width: 160px;
}
.timeline .timeline-item .timeline-badge.main-phase.init:hover .tooltiptext {
    visibility: visible;
}
.timeline .timeline-item .timeline-badge.main-phase.init .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #dbdbdb;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 37%;
	font-size: 10px;
	line-height: 15px;
    margin-left: -60px;
}

.timeline .timeline-item .timeline-badge.main-phase.init .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dbdbdb transparent;
}
.timeline .timeline-item .timeline-badge.main-phase.plan {
  width: 180px;
}
.timeline .timeline-item .timeline-badge.main-phase.plan:hover .tooltiptext {
    visibility: visible;
}
.timeline .timeline-item .timeline-badge.main-phase.plan .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #dbdbdb;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 34%;
	font-size: 10px;
	line-height: 15px;
    margin-left: -60px;
}

.timeline .timeline-item .timeline-badge.main-phase.plan .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dbdbdb transparent;
}
.timeline .timeline-item .timeline-badge.main-phase.exec {
  width: 160px;
}
.timeline .timeline-item .timeline-badge.main-phase.exec:hover .tooltiptext {
    visibility: visible;
}
.timeline .timeline-item .timeline-badge.main-phase.exec .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #dbdbdb;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 37%;
	font-size: 10px;
	line-height: 15px;
    margin-left: -60px;
}

.timeline .timeline-item .timeline-badge.main-phase.exec .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dbdbdb transparent;
}
.timeline .timeline-item .timeline-badge.main-phase.clos {
  width: 119px;
}
.timeline .timeline-item .timeline-badge.main-phase.clos:hover .tooltiptext {
    visibility: visible;
}
.timeline .timeline-item .timeline-badge.main-phase.clos .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #dbdbdb;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 51%;
	font-size: 10px;
	line-height: 15px;
    margin-left: -60px;
}

.timeline .timeline-item .timeline-badge.main-phase.clos .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dbdbdb transparent;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 20%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 10px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 10px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 80%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  top: -9px;
  height: 200px;
  /*width: 10%;
  min-width: 40px;*/
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item.phase-width.init {
  min-width: 168px;
}
.timeline-horizontal .timeline-item.phase-width.plan {
  min-width: 188px;
}
.timeline-horizontal .timeline-item.phase-width.exec {
  min-width: 168px;
}
.timeline-horizontal .timeline-item.phase-width.close {
  min-width: 155px;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: -45px;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 1px !important;
  right: 0 !important;
  width: 100%;
  height: 45px;
  margin-bottom: -10px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  left: 43px;
}
